.mat-column-id {
  flex: 1 0
}

.mat-column-name {
  flex: 3
}

.mat-column-status {
  flex: 3
}

.mat-column-category {
  flex: 3
}


.mat-column-action {
  text-align: center;
  flex: 4
}

/* Structure */
.container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
