.card {
  flex: 1 0 90%;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.container {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

mat-card-actions {
  display: flex;
  justify-content: space-around
}

mat-card-content > p {
  text-align: center;
}
