.card {
  flex: 1 0 90%;
}

.container {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.container > * {
  width: 100%;
}


.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around ;
}

