.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  width: 100%;
}

.container form {
  margin-bottom: 20px;
}

.container form > * {
  margin: 5px 0;
}

.container .mat-radio-button {
  margin: 0 5px;
}

.chip-list {
  width: 100%;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around ;
}

.photo-urls {
  display: flex;
  flex-direction: row;
  justify-content: space-around ;
}

.photo-urls > mat-form-field {
  flex: 1 0 90%;
}

h1,h2 {
  text-align: center;
}

