<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>SimarS Pet Store</span>

    <span flex class="flex-fill-space"></span>

    <button mat-button>About</button>
    <button mat-button>Services</button>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar>

<!--<mat-card>-->
  <!---->
  <!--&lt;!&ndash;<br>&ndash;&gt;-->

  <!--&lt;!&ndash;<button mat-raised-button (click)="showAnswer()">Answer me</button>&ndash;&gt;-->

<!--</mat-card>-->

<mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>


<router-outlet></router-outlet>
